@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }

  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #000000;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #06c;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }
  

strong {
    position: relative;
}

strong::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: -1;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.atas {
    margin-top: 20px;
    margin-left: 30px;
}

thead {
    background-color: lightcoral;
}

.white-space {
    margin: 200px;
}

th {
    text-align: center;
}

.totalCase {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.card {
    padding: 12px;
    height: 35vh;
    border-radius: 10px;
    -webkit-box-shadow: 14px 11px 29px -3px rgba(0,0,0,0.33);
    -moz-box-shadow: 14px 11px 29px -3px rgba(0,0,0,0.33);
    box-shadow: 14px 11px 29px -3px rgba(0,0,0,0.33);
    transition: transform .2s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}



